.sidebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  margin: 0px 200px;
}

#research p {
  cursor: pointer;
  color: blue;
  transition: color ease-out 0.5s;
}

#research p:hover {
  color: red;
}

p {
  font-size: 1.2rem;
  padding: 5px;
}

#content-box {
  background: linear-gradient(to bottom right, #fcf8e6, rgb(250, 225, 192));
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 -4px 10px rgba(0, 0, 0, 0.1), 4px 0 10px rgba(0, 0, 0, 0.15), -4px 0 10px rgba(0, 0, 0, 0.15);
}

body {
  background-color: #fdf5e6;
}

@media (max-width: 1600px) {
  .box {
    margin: 0px 120px;
  }
}

@media (max-width: 1024px) {
  .box {
    margin: 0px 80px;
  }
}

@media (max-width: 768px) {
  .box {
    margin: 0px 40px;
  }
  p {
    font-size: 1.1rem;
    padding: 2.5px;
  }
}

@media (max-width: 480px) {
  .box {
    margin: 0px 10px;
  }
}