.sidebar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  margin: 0px 15px;
}

#research p {
  cursor: pointer;
  color: blue;
  transition: color ease-out 0.5s;
}

#research p:hover {
  color: red;
}

body {
  background-color: gainsboro;
}

@media  (max-width: 600px) {
  p {
    font-size: 0.85rem;
  }
  .box {
    margin: 0px 10px;
  }
}